<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosch | Diário de Bordo</title>

    <!-- Icon -->
    <link rel="icon"
        href="https://cdn-assets-eu.frontify.com/s3/frontify-enterprise-files-eu/eyJwYXRoIjoiYm9zY2hcL2ZpbGVcLzJGdzFKM1pWQmQ1OHh2YmVxVnpNLnBuZyJ9:bosch:nU4nNMJlDJCRLZwO0TbWBWDxqrnKWRRfXXDdV2hqsKo?width={width}"
        type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>

</head>

<body>
    <header>
        <nav class="shadow-lg navbar navbar-expand-lg top position-fixed w-100 top-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><strong class="RGB_Controle">Diário de Bordo</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <strong>Cadastrar: </strong>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastro_curso">Curso</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastro_turma">Turma</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastro_professor">Professor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastro_disciplina">Disciplina</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="main-index">

            <div class="menus flex">
                <button onclick="toggleDarkMode()" class="toggle-button">Alternar Modo</button>
            </div>
            <div class="form-floating">
                <form action="/" method="post">
                    <select id="curso" class="form-select" aria-label="Floating label select example"
                    onchange="this.form.submit()" name="curso">
                    <option value="">Selecione um curso</option>
                    <% for (let i=0; i<cursos.length; i++) { %>
                        <option value='<%= cursos[i].IDCurso %>' <%=id==cursos[i].IDCurso? 'selected' : '' %>>
                            <%= cursos[i].Nome %>
                        </option>
                        <% } %>
                    </select>
                </form>
            </div>

        <div class="conteudo container-fluid">
            <div class=" d-flex p-2 flex-wrap justify-content-center ">
                <%for (let i=0; i<turmas.length; i++){%>
                    <!-- tem que ajustar o bloco -->
                    <a style="display: block; width: 25rem;" href="/pagina-da-turma?id=<%= turmas[i].IDTurma %>">
                        <div class="card shadow-sm p-3 mb-5   align-items-center m-5 mt-5"
                            style="max-width: 25rem;">
                            <div class="card-body text-center">
                                <%= turmas[i].Nome %>
                            </div>
                        </div>
                    </a>
                    <%}%>
            </div>
        </div>

        <!-- colocar na tela de alunos -->
    </main>
</body>

</html>